html,
body {
  padding: 0;
  margin: 0;
	font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
	--meryl2: #e3edf7;
	--meryl3: #1c1c1f;
}
