.container{
	width: 100%;
	min-height: 100vh;
	transition: 0.5s;
	
}
.footer{
	width: 100%;
	height: 300px;
	background: inherit;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px 40px;
	color: inherit;
	margin-top: 80px;
	
}
.footer span{
	width: 20%;
	height: 90%;
	background: inherit;
	transform: translateY(-40px);
	
}
.footer img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translatex(-20px) translatey(-20px);
	
}
.footerLink{
	width: 70%;
	height: 100%;
}
.footerLink h5{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	
}
.footerLink h5 a{
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	
}
.footerLink ul{
	width: 100%;
	height: 60%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	font-size: 10px;
	border-bottom: 2px solid;
	
	
}
.footerLink ul li{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	transform: translatex(-30px);
}
.footerLink ul li h4{
	line-height: 20px;
	font-weight: 300;
	
}
.footerLink ul li h2{
	color: inherit;
	
}
#title{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	padding: 0px 40px;
	
	
}
.nav{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 20px;
	z-index: 999;
	font-weight: 400;
	
}
.nav ul{
	width: 600px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	
}
.nav ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0px;
	transition: 0.5s;
	
	
}
.body{
	
}
.hero{
	width: 100%;
	min-height: 700px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 4;
	flex-direction: column;
	
	
	
}
.imgSelect{
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 80px;
}
.imgSelect img{
	object-fit: cover;
	object-position: 40% 0%;
}
.active{
	width: 150px;
	height: 400px;
	border-radius: 16px;
	
}
.selected{
	width: 90%;
	height: 400px;
	position: absolute;
	top: 400px;
	object-fit: cover;
	object-position: 50% 20%;
}
.heroInfo{
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 2;
	font-weight: 600;
	padding: 20px 40px;
	font-size: 20px;
	margin-top: 80px;
	font-family: 'Raleway', sans-serif;
	transition: 0.5s;
	
}
#heroInfo1{
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
	
}
#heroInfo{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	
}
#heroInfo p{
	font-size: 15px;
	width: 240px;
	height: 100px;
	text-align: left;
	
}
#heroInfo h1{
	width: 400px;
	height: 100px;
	
}
.services{
	width: 90%;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	color: inherit;
	margin-left: auto;
	margin-right: auto;
	
	
}
.service{
	width: 400px;
	height: 250px;
	border-radius: 16px;
	padding: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	background: inherit;
	margin: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	
	
}
.service span{
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px  40px;
	
}
.service span i{
	margin: 0px 10px;
	font-size: 20px;
	color: inherit;
	
}

.accordion{
	width: 90%;
  height: 400px;
	margin: 80px 0px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	
}
.content{
	height: 100%;
	line-height: 26px;
	max-width: 0px;
	overflow: hidden;
	transition: max-width 0.5s, padding 0.5s;
	font-size: 12px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.accordion input[type='radio']:checked + label + .content{
	max-width: 250px;
	padding: 10px;
	
}
.accordion input[type='radio']:checked + label{
	color: inherit;
}
.accordion li{
	height: 100%;
	background: inherit;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px;
	
}
.accordion li label{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	width: 120px;
	transform: rotate(-90deg);
	font-family: 'Roboto', sans-serif;
	
}
.accordion li label:before{
	content: '+';
	margin-right: 10px;
	font-size: 24px;
	font-weight: 600;
}
.accordion li input[type='radio']{
	display: none;
}
#skill p{
	width: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2px;
	background: inherit;
	color: inherit;
	font-size: 8px;
	
}

@media only screen and (max-width: 576px){
	.nav{
		display: none;
		
	}
	.heroInfo{
		font-size: 8px;
		
	}
	#heroInfo{
		display: none;
		
	}
  .heroInfo1{
		display: none;
		
	}
	.accordion{
		
		
	}
	.service{
		width: 100%;
		height: 200px;
		font-size: 12px;
		
	}
} 
